<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2C2C2C">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Roboto+Slab:wght@300&display=swap">

    <link rel="stylesheet" href="static/styles/variables.css">
    <link rel="stylesheet" href="static/styles/overlay.css">
    <link rel="stylesheet" href="static/styles/index.css">
    <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
    
    <title>Attache</title>
</head>
<body>
    <!-- <script type="text/javascript">
        // var userLang = navigator.language || navigator.userLanguage; 
        alert ("The language is: " + userLang);
        </script> -->
    
    <script src="static/scripts/appearance.js"></script>
    <script src="static/scripts/animations.js"></script>
    <script>setLang("en");</script>
    <div class="overlay">
        <div class="language" onclick="onLanguage();"></div>
        <div class="appear" onclick="onAppear();"></div>
    </div>
    <div class="header">
        <header>
            <div class="header_logo" id="header_logo"></div>
            <script src="static/scripts/header.js"></script>
            <nav id="navID">
                <ul>
                    <li>
                        <div class="header_icon prepair"></div>
                        <a href="pricing" onclick="onCross(true)">price</a>
                    </li>

                    <li>
                        <div class="header_icon agency"></div>
                        <a href="#" onclick="onCross(true)">agency</a>
                    </li>

                    <li>
                        <div class="header_icon services"></div>
                        <a href="#" onclick="onCross(true)">services</a>
                    </li>

                    <li class="li-contacts">
                        <div class="header_icon contacts"></div>
                        <a href="#" onclick="onCross(true)">contacts</a>
                    </li>
                </ul>
            </nav>
            <div class="cross" id="cross" onclick="onCross();"></div>
            <div class="burger" id="burger" onclick="onBurger();"></div>

        </header>
    </div>
   
    <div class="main-image">
        <div class="header-fill"></div>
        <div class="content">
            <h1>ATTACHE SOLUTIONS</h1>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </div>
    </div>

    <div class="contain-box">
        <div class="contain">
            <div class="l2_title">
                <h1>Why do we use it?</h1>
                <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</span>
            </div>
    
            <div class="features feat1">
                <div class="logo"></div>
                <div class="text">
                    <div class="label">It's fast.</div>
                <div class="description">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
                    <button>
                        <div class="icon"></div>
                        <span>contact</span>
                    </button>
                </div>
                
            </div>
            <div class="features feat2">
                <div class="logo"></div>
                <div class="text">
                    <div class="label">It's fast.</div>
                <div class="description">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
                    <button>
                        <div class="icon"></div>
                        <span>contact</span>
                    </button>
                </div>
                
            </div>
            <div class="features feat3">
                <div class="logo"></div>
                <div class="text">
                    <div class="label">It's fast.</div>
                <div class="description">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
                    <button>
                        <div class="icon"></div>
                        <span>contact</span>
                    </button>
                </div>
                
            </div>
    
        </div>
    </div>
    
</body>
</html>