<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2C2C2C">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/variables.css">
    <link rel="stylesheet" href="static/styles/overlay.css">
    <link rel="stylesheet" href="static/styles/index.css">
    <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
    
    <title>Attache</title>
</head>
<body>
    <!-- <script type="text/javascript">
        // var userLang = navigator.language || navigator.userLanguage; 
        alert ("The language is: " + userLang);
        </script> -->
    
    <script src="static/scripts/appearance.js"></script>
    <script src="static/scripts/animations.js"></script>
    <script>setLang("en");</script>
    <div class="overlay">
        <div class="language" onclick="onLanguage();"></div>
        <div class="appear" onclick="onAppear();"></div>
    </div>
   <div class="header">
        <header>
            <div class="header_logo" id="header_logo"></div>
            <nav id="navID">
                <ul>
                    <li class="li-pricing">
                        <div class="header_icon pricing"></div>
                        <span>price</span>
                    </li>

                    <li class="li-agency">
                        <div class="header_icon agency"></div>
                        <span>agency</span>
                    </li>

                    <li class="li-services">
                        <div class="header_icon services"></div>
                        <span>services</span>
                    </li>

                    <li class="li-contacts">
                        <div class="header_icon contacts"></div>
                        <span>contact</span>
                    </li>
                </ul>
            </nav>
            <div class="cross" id="cross" onclick="onCross();"></div>
            <div class="burger" id="burger" onclick="onBurger();"></div>

        </header>
                   <script src="static/scripts/header.js"></script>

    </div>
   
    <div class="main-image">
        <div class="header-fill"></div>
        <div class="content">
            <h1>ATTACHE SOLUTIONS</h1>
            <span>In develop...</span>
        </div>
    </div>

        <footer></footer>


</body>
</html>