<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/variables.css">
    <link rel="stylesheet" href="static/styles/overlay.css">
    <link rel="stylesheet" href="static/styles/index.css">
    <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
    <title>Attache</title>
</head>
<body>
<script src="static/scripts/appearance.js"></script>
<script src="static/scripts/animations.js"></script>
<script>setLang("ru");</script>
<div class="overlay">
    <div class="language" onclick="onLanguage();"></div>
    <div class="appear" onclick="onAppear();"></div>
</div>
<div class="header">
    <header>
        <div class="header_logo" id="header_logo"></div>

        <nav id="navID">
            <ul>
                <li class="li-pricing">
                    <div class="header_icon pricing"></div>
                    <span>цены</span>
                </li>

                <li class="li-agency">
                    <div class="header_icon agency"></div>
                    <span>стандартные услуги</span>
                </li>

                <li class="li-services">
                    <div class="header_icon services"></div>
                    <span>уникальные услуги</span>
                </li>

                <li class="li-contacts">
                    <div class="header_icon contacts"></div>
                    <span>контакты</span>
                </li>
            </ul>
        </nav>
        <div class="cross" id="cross" onclick="onCross();"></div>
        <div class="burger" id="burger" onclick="onBurger();"></div>

    </header>
    <script src="static/scripts/header.js"></script>
</div>

<div class="main-image">
    <div class="header-fill"></div>
    <div class="content">
        <h1>ATTACHE SOLUTIONS DMCC</h1>
        <span>Открытие компании в ОАЭ</span>
    </div>
</div>

<div class="contain-box">
    <div class="contain">
        <div class="l2_title">
            <h1>Услуги, которые мы предоставляем</h1>
<!--            <span>dgm;dftogj;ordtnhl;kfrnh;omnofgndsgnogjbdkjgnisbgdsmgb odnjfgjhsdlgkjd</span>-->
        </div>

        <div class="features feat1">
            <div class="logo"></div>
            <div class="text">
                <div class="label">СТАНДАРТНЫЕ УСЛУГИ</div>
                <div class="description">
                    <strike>
                        <b>ATTACHE SOLUTIONS DMCC</b> является лицензированным провайдером корпоративных услуг в ОАЭ.
                    У нас налажены отношения с госрегуляторами и банками, мы хорошо разбираемся в местной специфике и владеем всеми бизнес-инструментами, которые доступны в этой юрисдикции.
                        </strike>
                </div>
                <label for="flist_1">Вам следует обратиться в нашу компанию, если  необходимо:</label>
                <ul id="flist_1" class="flist">
                    <li>
                        <span>получить визу;</span>
                    </li>
                    <li>
                        <span>зарегистрировать компанию в FZC, FZE, LLC или IBC;</span>
                    </li>
                    <li>
                        <span>получить лицензию на осуществление соответствующей деятельности;</span>
                    </li>
                    <li>
                        <span>открыть счета в банке (личный, корпоративный);</span>
                    </li>
                    <li>
                        <span>легализовать документы.</span>
                    </li>
                </ul>
                <div class="buttons">
                    <button class="fbutton">
                    <div class="icon"></div>
                    <span>запрос</span>
                </button>
                <button class="sbutton stan">
                    <div class="icon"></div>
                    <span>Подробнее</span>
                </button>
                </div>
            </div>

        </div>
        <div class="features feat2">
            <div class="logo"></div>
            <div class="text">
                <div class="label">УНИКАЛЬНЫЕ УСЛУГИ</div>
                <div class="description">
                    Если у Вас уже есть компания в ОАЭ и Вы хотите  улучшить ее финансовые показатели и оптимизировать свой бизнес, то мы предлагаем унпикальные услуги.
                </div>
                <label for="flist_2">ЧАСТНЫЕ УСЛУГИ, КОТОРЫЕ МЫ ПРЕДОСТАВЛЯЕМ:</label>
                <ul id="flist_2" class="flist">
                    <li>
                        <span>составление индивидуального бизнес-плана;</span>
                    </li>
                    <li>
                        <span>полное сопровождение проектов: административное, бухгалтерское и юридическое;</span>
                    </li>
                    <li>
                        <span>стратегическое планирование бизнеса.</span>
                    </li>

                </ul>
                <div class="buttons">
                    <button class="fbutton">
                    <div class="icon"></div>
                    <span>запрос</span>
                </button>
                <button class="sbutton uni">
                    <div class="icon"></div>
                    <span>Подробнее</span>
                </button>
                </div>
            </div>

        </div>
        <div class="l2_title">
            <h1>ПОЧЕМУ ВЫБИРАЮТ НАС?</h1>
        </div>
        <div class="list">
            <div class="item item1">
                    <div class="icon"></div>

                    <div class="title">ценовая доступность</div>
<!--                <div class="description">Наше ценообразование ориентировано на объем. В интересах объема-->
<!--                        стоимость наших услуг снижена до минимума. Также, компания имеет лицензии рег-агента в RAK ICC и-->
<!--                        Ajman Offshore. Это значит, что вы получите IBC в ОАЭ из первых рук.</div>-->
            </div>
            <div class="item item2">
                    <div class="icon"></div>
                <div class="title">минимальные сроки</div>
<!--                <div class="description">Наш офис находится в деловом центре Дубая. Благодаря близкому-->
<!--                    расположению и налаженным отношениям с гос. регуляторами и финансовыми учреждениями, сроки по-->
<!--                    регистрации, получению виз и открытию счетов у нас минимальные.</div>-->
            </div>

            <div class="item item3">
                    <div class="icon"></div>
                <div class="title">работа в онлайн и офлайн режимах</div>
<!--                <div class="description">Мы дорожим вашим доверием, поэтому предоставляем-->
<!--                    детальную и правдивую информацию по любой услуге или проекту, в которой показываем перечень и-->
<!--                    себестоимость всех составляющих, и отдельно стоимость своей работы.</div>-->
            </div>
            <div class="item item4">
                    <div class="icon"></div>
                <div class="title">мы на связи 24/7</div>
<!--                <div class="description">МВ самом начале, в ответ на ваш запрос вы получите “дорожную карту”, которая-->
<!--                    пошагово в деталях описывает все этапы реализации вашей задачи. Мы открываем вам всю информацию-->
<!--                    без каких-либо встречных обязательств с вашей стороны.</div>-->
            </div>
        </div>
        <footer></footer>
    </div>


</div>


</body>
</html>
<script src="static/scripts/index.js"></script>
