<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/variables.css">
    <link rel="stylesheet" href="static/styles/overlay.css">
    <link rel="stylesheet" href="static/styles/standart-services.css">
    <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
    <title>Attache</title>
</head>
<body>
<script src="static/scripts/appearance.js"></script>
<script src="static/scripts/animations.js"></script>
<script>setLang("ru");</script>
<div class="overlay">
    <div class="language" onclick="onLanguage();"></div>
    <div class="appear" onclick="onAppear();"></div>
</div>
<div class="header">
    <header>
        <div class="header_logo" id="header_logo"></div>

        <nav id="navID">
            <ul>
                <li class="li-pricing">
                    <div class="header_icon pricing"></div>
                    <span>цены</span>
                </li>

                <li class="li-agency">
                    <div class="header_icon agency"></div>
                    <span>стандартные услуги</span>
                </li>

                <li class="li-services">
                    <div class="header_icon services"></div>
                    <span>уникальные услуги</span>
                </li>

                <li class="li-contacts">
                    <div class="header_icon contacts"></div>
                    <span>контакты</span>
                </li>
            </ul>
        </nav>
        <div class="cross" id="cross" onclick="onCross();"></div>
        <div class="burger" id="burger" onclick="onBurger();"></div>

    </header>
    <script src="static/scripts/header.js"></script>
</div>

<div class="main-image">
    <div class="header-fill"></div>
    <div class="content">
        <h1>Стандартные услуги</h1>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </div>
</div>

<div class="contain-box">
    <div class="contain">

        <div class="l2_title">
            <h1>ВЫБОР ОРГАНИЗАЦИОННОЙ ФОРМЫ КОМПАНИИ В ОАЭ</h1>
        </div>
        <div class="list">
            <div class="item item1">
<!--                    <div class="icon"></div>-->

                <div class="title">LLC</div>
                <div class="split"></div>
                <div class="description">Местная компания с правом ведения деятельности на всей территории ОАЭ и за их пределами.</div>

            </div>
            <div class="item item2">
<!--                    <div class="icon"></div>-->
                <div class="title">FZC, FZE</div>
                <div class="split"></div>

                <div class="description">Оншорная компания с правом ведения деятельности в пределах СЭЗ и за пределами ОАЭ.</div>
            </div>

            <div class="item item3">
<!--                    <div class="icon"></div>-->
                <div class="title">IBC</div>
                <div class="split"></div>
                <div class="description">Оффшорная компания с правом ведения деятельности исключительно за пределами ОАЭ.</div>
            </div>

        </div>
        <div class="block">
        <div class="title">
            КОМПЛЕКСНАЯ УСЛУГА ПО ОТКРЫТИЮ КОМПАНИЙ
        </div>
        <div class="description">
            Заказывая у нас компанию “под ключ”, вы можете быть уверены, что все будет сделано грамотно и быстро.

Кроме этого, вы получаете в подарок услугу по оформлению сертификата налогового резидента ОАЭ, если заказываете у нас
            комплексную регистрацию компании под ключ”. Комплекс включает в себя получение лицензий, открытие счета и
            получение виз.

Для того, чтобы получить от нас предложение по регистрации компании в ОАЭ, которое наилучшим образом будет отвечать
            Вашим целям, пожалуйста, воспользуйтесь нашей онлайн-анкетой:

        </div>
    </div>
        <div class="block">
        <div class="title">
            ОТДЕЛЬНЫЕ УСЛУГИ
        </div>
        <div class="description">
            Мы уверены, что за счет знаний, опыта и оптимизации организационных процессов наша помощь в решении
            некоторых вопросов будет для вас намного выгоднее, чем если вы это будете делать самостоятельно.
        </div>
    </div>
    </div>



</div>

    <footer></footer>

</body>
</html>