<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/variables.css">
    <link rel="stylesheet" href="static/styles/overlay.css">
    <link rel="stylesheet" href="static/styles/unique.css">
    <link rel="icon" type="image/x-icon" href="static/icons/favicon.ico">
    <title>Attache</title>
</head>
<body>
<script src="static/scripts/appearance.js"></script>
<script src="static/scripts/animations.js"></script>
<script>setLang("ru");</script>
<div class="overlay">
    <div class="language" onclick="onLanguage();"></div>
    <div class="appear" onclick="onAppear();"></div>
</div>
<div class="header">
    <header>
        <div class="header_logo" id="header_logo"></div>

        <nav id="navID">
            <ul>
                <li class="li-pricing">
                    <div class="header_icon pricing"></div>
                    <span>цены</span>
                </li>

                <li class="li-agency">
                    <div class="header_icon agency"></div>
                    <span>стандартные услуги</span>
                </li>

                <li class="li-services">
                    <div class="header_icon services"></div>
                    <span>уникальные услуги</span>
                </li>

                <li class="li-contacts">
                    <div class="header_icon contacts"></div>
                    <span>контакты</span>
                </li>
            </ul>
        </nav>
        <div class="cross" id="cross" onclick="onCross();"></div>
        <div class="burger" id="burger" onclick="onBurger();"></div>

    </header>
    <script src="static/scripts/header.js"></script>
</div>

<div class="main-image">
    <div class="header-fill"></div>
    <div class="content">
        <h1>Уникальные услуги</h1>
        <span>Бизнес-проект под вашу уникальную ситуацию или цель</span>
    </div>
</div>

<div class="contain-box">
    <div class="contain">

        <div class="l2_title">
            <h1>Прежде всего объясним, что мы подразумеваем под Уникальными услугами.</h1>
            <span>Это значит, что мы создаем бизнес-проект под вашу уникальную ситуацию или цель. Но поскольку цель должна быть реально достижимой, мы поможем Вам правильно ее сформировать.
                Наши услуги охватывают все юридические и экономические аспекты, необходимые для успешной и безопасной деятельности вашего бизнеса.</span>
        </div>

        <div class="block">
            <div class="title">
                КОМПЛЕКСНАЯ УСЛУГА ПО ОТКРЫТИЮ КОМПАНИЙ
            </div>
            <div class="description">
                Заказывая у нас компанию “под ключ”, вы можете быть уверены, что все будет сделано грамотно и быстро.

                Кроме этого, вы получаете в подарок услугу по оформлению сертификата налогового резидента ОАЭ, если
                заказываете у нас
                комплексную регистрацию компании под ключ”. Комплекс включает в себя получение лицензий, открытие счета
                и
                получение виз.

                Для того, чтобы получить от нас предложение по регистрации компании в ОАЭ, которое наилучшим образом
                будет отвечать
                Вашим целям, пожалуйста, воспользуйтесь нашей онлайн-анкетой:

            </div>
        </div>
        <div class="block">
            <div class="title">
                Юридические аспекты:
            </div>
            <div class="description">
                <ul>
                    <li>
                        анализ текущего состояния юрлица клиента
                    </li>
                    <li>
                        обсуждение и рекомендации по оформлению учредительных документов и выбору лицензионных условий
                    </li>
                    <li>
                        оптимизация операционно-хозяйственной документации
                    </li>
                </ul>
                Важно знать, что за все несоответствия или нарушения в ведении операционно-хозяйственной деятельности,
                законодательством предусмотрены очень чувствительные штрафы. Местные контролирующие органы относятся
                очень внимательно и серьезно к их соблюдению.

            </div>
        </div>
        <div class="block">
        <div class="title">
            Экономические аспекты:
        </div>
        <div class="description">
            <ul>
                <li>
                    разработка бизнес-плана
                </li>
                <li>
                    расчет экономической эффективности проекта
                </li>
                <li>
                    разработка оптимальных бизнес-процессов
                </li>
                <li>
                    постановка бухгалтерско-налогового учета
                </li>

            </ul>
            Важно знать, что за все несоответствия или нарушения в ведении операционно-хозяйственной деятельности,
            законодательством предусмотрены очень чувствительные штрафы. Местные контролирующие органы относятся очень
            внимательно и серьезно к их соблюдению.

        </div>

    </div>
        <div class="block">
            <div class="title">
                Как мы выстраиваем с Вами работу:
            </div>
            <div class="description">
                <ul class="num">
                    <li>
                        Разбираемся в текущем состоянии бизнеса
                    </li>
                    <li>
                        Выявляем цель(-и)
                    </li>
                    <li>
                        Анализируем существующее положение
                    </li>
                    <li>
                        Разрабатываем индивидуальный организационно-структурный план с расчетом экономической
                        эффективности проекта
                    </li>
                    <li>
                        Осуществляем проект
                    </li>

                </ul>
                Проект может включать:
                <ul>
                    <li>
                        реструктуризацию собственности
                    </li>
                    <li>
                        регистрацию компании подходящей организационной формы в иностранной юрисдикции и включение её в
                        общую конструкцию бизнеса
                    </li>
                    <li>
                        перезаключение договоров
                    </li>
                    <li>
                        и многое прочее
                    </li>


                </ul>


            </div>

        </div>
    </div>



</div>

<footer></footer>

</body>
</html>