
/* 
 :root {
    --main-bg-color: #5c64af;
    --second-color: #3368dc;
    --main-text-color: #d9eace;
    --second-text-color: #506d7c;
    --appear-image: url("static/icons/moon.svg");
 } */



.main-image {
    position: relative;
    display: flex;
    background: var(--hotel-image) no-repeat;
    background-size: cover;
    background-position: center;
    /* background-position: top; */
    /* padding-bottom: 62.5%; */
    height: 50vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.main-image .content {
    color: var(--main-text-color);
    max-width: 40vw;
}

.header-fill {
    width: 100vw;
    height: 80px;
}

.contain-box {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.contain {
    width: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.features {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}



.features .text {
    color: var(--main-text-color);
    display: flex;
    flex-direction:  column;
    width: 65%;
    justify-content: space-between;
    align-items: flex-start;
}

.features .text label {
    font-weight: bold;
    font-size: 25px;
    margin-top: 25px;
}
.features .buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 34em;
    justify-content: space-between;
}

.features button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    border-radius: 32px;
    width: 20em;
    height: 3em;
    
}

.features .fbutton {
    text-transform: uppercase;
    background-color: var(--second-color);
    color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);

}
.features .sbutton {
    text-transform: uppercase;

    background-color: var(--main-bg-color);
    color: var(--second-color);
    border: 1px solid var(--second-color);
}



.features .text span {
    font-size: 1.5em;
    font-family: 'Comfortaa', cursive;

}
.white-theme {
    --mail-icon: url("../icons/mail.svg");
    --ask-icon: url("../icons/bask.svg");
    --diamond-icon: url("../icons/bdiamond.svg");
}

.dark-theme {
    --mail-icon: url("../icons/bmail.svg");
    --ask-icon: url("../icons/ask.svg");
    --diamond-icon: url("../icons/diamond.svg");

}

.features .fbutton .icon {
    background-image: var(--mail-icon);
    background-repeat: no-repeat;
}

.features .sbutton .icon {
    background-image: var(--ask-icon);
    background-repeat: no-repeat;
}
.features li {
    padding-top: 5px;
}

.features .text .label{
    font-size: 2.5em;
    width: 100%;
    margin-bottom: 25px;
    font-weight: bold;
}

.feat1 .logo{
    background-image: var(--speed-icon);
    background-repeat: no-repeat;
    /* background-position: center; */
}
.feat2 .logo{
    background-image: var(--diamond-icon);
    background-repeat: no-repeat;
    /* background-position: center; */
}




/*.feat2 {*/
/*    flex-direction: row-reverse;*/
/*    text-align: end;*/
/*    align-content: flex-end;*/
/*}*/
.feat2 button {
    align-self: flex-end;
}

.features .logo {
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 20px 0;
}

button {
    transition: .1s;
}

button:hover {
    filter: invert();
}

.features .icon {
    background-size: contain;
    width: 25px;
    height: 25px;
}

.l2_title {
    margin-bottom: 20px;
    color: var(--main-text-color);
    text-align: center;
}

.contain .list {
    display: grid;
    gap: 50px;
    width: 130%;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;

}

.item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 92%;
    height: 350px;
}


.item .icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 65px;
    height: 110px;
    margin-bottom: 25px;

}
.item .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.item .title {
    flex: 1 1 auto;
}
.item .price {
    align-self: flex-end;
    color: var(--second-color);
}
.white-theme {
    --dollar-icon: url(../../static/icons/bdollar.svg);
    --calc-icon: url(../../static/icons/bcalculator.svg);

}

.dark-theme {
    --dollar-icon: url(../../static/icons/dollar.svg);
    --calc-icon: url(../../static/icons/calculator.svg);
}

.item1 .icon {
    background-image: var(--dollar-icon);
    width: 90px;
}
.item2 .icon {
    width: 90px;
    /* height: 80px; */
    background-image: var(--speed-icon);
}
.item3 .icon {
    width: 90px;
    background-image: var(--calc-icon);
}
.item4 .icon {
    width: 90px;
    background-image: var(--item4-icon);
}
.item5 .icon {
    background-image: var(--item5-icon);
}
.item6 .icon {
    width: 82px;
    background-image: var(--item6-icon);
}


@media (max-width: 1100px) {
    .content .list {
        grid-template-columns: 1fr 1fr;
        width: 88%;
    }

}

@media (max-width: 900px) {
    .features {
        flex-direction: column;
    }
    .features .logo {
        width: 50px;
        height: 50px;
    }
    .feat2 .logo {
        align-self: flex-end;

    }

    .features {
        width: 80vw;
        height: max-content;
    }
    .features .text {
        width: 100%;
       
    }
    .features .description {
        margin: 25px 0;
    }
    .main-image .content {
        max-width: 80vw;
    }
}



