:root {
    --appear-var: black;
    --main-bg-color: #2c2c2c;
    --second-color: #0082ca;
    --main-text-color: white;
    --second-text-color: black;
    --appear-image: url("https://static.attache.ae/icons/sun.svg");
    --language-image: url("https://static.attache.ae/icons/english.svg");
    --speed-icon: url("https://static.attache.ae/icons/speed.svg");
    --main-bg-color: #2c2c2c;
    --burger-icon: url("https://static.attache.ae/icons/burger.svg");
    --head-logo-image:url("https://static.attache.ae/images/head_logo.png");
    --prepair-image: url(https://static.attache.ae/icons/white-papers.svg);
    --agency-image: url(https://static.attache.ae/icons/peoples.svg);
    --services-image: url(https://static.attache.ae/icons/tags.svg);
    --contacts-image: url(https://static.attache.ae/icons/black-phone.svg);
    --contacts-image-mobi: url(https://static.attache.ae/icons/phone.svg);
    --hotel-image: url(https://static.attache.ae/images/hotel.webp)
 }
 