:root {
    --language-image: url("../../static/icons/english.svg");
 }

.dark-theme {
    --appear-var: black;
    --main-bg-color: #2c2c2c;
    --second-color: #0082ca;
    --main-text-color: white;
    --second-text-color: black;
    --appear-image: url("../../static/icons/sun.svg");
    --speed-icon: url("../../static/icons/speed.svg");
    --burger-icon: url("../../static/icons/burger.svg");
    --head-logo-image:url("../../static/images/head_logo.png");
    --pricing-image: url(../../static/icons/white-papers.svg);
    --agency-image: url(../../static/icons/peoples.svg);
    --services-image: url(../../static/icons/tags.svg);
    --contacts-image: url(../../static/icons/black-phone.svg);
    --contacts-image-mobi: url(../../static/icons/phone.svg);
    --hotel-image: url(../../static/images/hotel.webp);
}


.white-theme {
    --appear-var: black;
    --main-bg-color: #edede9;
    --second-color: #dd8679;
    --main-text-color: black;
    --second-text-color: white;
    --appear-image: url("../../static/icons/moon.svg");
    --speed-icon: url("../../static/icons/bspeed.svg");
    --burger-icon: url("../../static/icons/bburger.svg");
    --head-logo-image:url("../../static/images/bhead_logo.png");
    --pricing-image: url(../../static/icons/black-papers.svg);
    --agency-image: url(../../static/icons/black-peoples.svg);
    --services-image: url(../../static/icons/black-tags.svg);
    --contacts-image: url(../../static/icons/phone.svg);
    --contacts-image-mobi: url(../../static/icons/black-phone.svg);
    --hotel-image: url(../../static/images/white-hotel.webp);

}

